page-quees {
        & .text-uppercase{
            text-transform: uppercase;
        }
        & p{
            text-align: justify;
            color:#222;
        }
        & .subtitle{
            color:#f7ac43;
        } 
        
}
