page-ingpassword {
    & .subtitle{
        color:#f7ac43;
    } 
    & p{
        text-align: justify;
        color:#222;
    }
    & ul{
        & li{
            text-align: justify;
        }  
    }
}
